<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script type='text/javascript'>
        $(function () {
            // When a color is chosen, set it as the background for this page
            $("#color").change(function () {
                // Set the background to that color
                $("body").css('background', $(this).val());
            });
        });
    </script>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/site.js")
    @Scripts.Render("~/Scripts/jquery.validate.js")
    <script src="~/Scripts/jquery.validate.js"></script>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
